body{
    background-color: rgb(62, 233, 176);
}

.container{
    width: 30vw;
    margin-top: 1.5em;
}

textarea{
    resize: none;
}

 form{
    font-weight: 500;
    margin:25px 0;
    cursor: pointer;
}
